/* 
   Classes Auxiliares
*/
.clear {
   clear: both;
   /*class auxiliar p evitar conflito no site*/
}

.center {
   max-width: 1100px;
   margin: 0 auto;
   padding: 0 2%;
}

.w50 {
   width: 50%;
   float: left;
}

/**/

section.topHome {
   background-image: linear-gradient(114deg,  #250e8a, #00f9f7);
   padding: 80px 0 50px 0;
}

.time-descricao {
   margin-bottom: 50px;
   color: white;
}

.time-descricao h2 {  
   font-size: 45px;
}

.time-descricao p {
   font-size: 14px;
   margin-top: 10px;
   max-width: 240px;
}

.time-descricao a{
   text-decoration: none;
   color: #1b49a5;
   background: #ffca00;
   box-shadow: 0 20px 30px 0 rgba(37, 15, 138, 0.2);
   display: inline-block;
   margin-top: 14px;
   padding: 10px 8px;
   font-weight: bold;
   border-radius: 8px;
}